html, body {
    width: 100vw;
    height: 100vh;
    font-family: 'Times New Roman', Times, serif;
    overflow: hidden;
}
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}
.placeholder {
    visibility: hidden;
}
.center {
    justify-content: center;
    text-align: center;
}
#intro {
    width: 100vw;
    height: 100vh;
    color: yellow;
    font-size: xx-large;
    background-image: url(../Media/Images/intro-background.jpg);


}
.statue {
    margin-top: 80%;
    margin-left: 25%;
    width: 50%;
    height: 50%;
    display: none;
}
.gameElement {
    text-align: center;
}
#gameDisplay {
    background-color: rgb(252, 161, 176);
    display: none;
}
#game{
    display: none;
    width: 100vw;
    height: 100vh;
    font-size: x-large;
    background-image: url(../Media/Images/gameBackground.gif);
    background-size: 100%;

}
#username {
    float: left;
}
#scoreHolder{
    float: right;
}

audio {
    display:none;
}